.back{
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    opacity: 0.4;
}

.login__button{
    height: 50px;
    width:60%;
    padding:14px 30px;
    margin:30px auto 00px auto;
    color: white;
    border-radius:6px;
    background-color:rgb(55, 84, 135);
    cursor: pointer;
    transition: .2s;
    font-weight: 700;
}

.login__button:hover{
    color:aliceblue;
    cursor: pointer;
    background-color:rgb(96, 132, 194);
  }
  
  .login__button:active{
    cursor: pointer;
    background-color:rgb(48, 63, 89);
  }