.menu__section{
  padding: 0px 15px 0px 15px;
  font-weight: 500;
  color:rgb(241, 244, 247)
}

.question{
  padding: 30px;
  border: 1px blue solid;
  margin: 18px auto;
  max-width: 800px;
  border-radius: 8px;
  text-align: left;
  font-size: 18px;
  display: flex;
  line-height: 1.5;
  
}